.container {
    margin-bottom: 20px;
    width: auto;

}

.row{
    background-color: dimgrey;
    outline: 1px solid black;
}

.col{
    outline: 1px solid black;
    height: 200px;
    margin: 2px;
    width: 350px;
    background-color: white;
    text-align: center;
    justify-items: center;
}
